<%= error_messages_for 'category' %>

<!--[form:category]-->
<p><label for="category_name">Name</label><br/>
<%= text_field 'category', 'name'  %></p>

<p><label for="category_description">Description</label><br/>
<%= text_field 'category', 'description'  %></p>
<!--[eoform:category]-->

