<h1>Kursy wymiany walut</h1>

<div id="currencies-pairs-list">
  Przejdź do kursów wymiany dla następujących walut:
  <ul>
    <% @pairs.each do |c1, c2| %>
      <li>
        <%= link_to h("#{c1.long_symbol} -> #{c2.long_symbol}"), exchanges_list_path(:left_currency => c1, :right_currency => c2) %>
      </li>
    <% end %>
  </ul>
</div>

<% options = shadow_options do |opt| %>
  <% opt[:top][:middle].call do %>
    <%= tab [[:new, 'Nowy']], :exchange -%>
  <% end %>
<% end %>


<% light_shadow({:class => 'long'}, {}, options) do %>
  <% tab_container(:exchange) do %>
    <%= render :partial => 'edit' %>
  <% end %>
<% end %>
