<h1>Kursy wymiany walut</h1>

<table id="exchanges-list" style="width: 100%" >
  <tr style="width: 100%" >
    <th>
      Pierwsza waluta
    </th>
    
    <th>
      Druga waluta
    </th>
    
    <th>
      Kurs pierwszej względem drugiej
    </th>
    
    <th>
      Kurs drugiej względem pierwszej
    </th>
    
    <th>
      Data
    </th>
    
    <th>
      Akcje
    </th>
  </tr>
  
  <%= render :partial => 'exchanges/exchange', :collection => @exchanges %>
  <%= render :partial => 'exchanges/new_exchange' %>

</table>

<br />

<%= link_to 'Nowy kurs', new_exchange_path %>
<br />
<% @currencies.map %>

<%= tab [[:quick, 'Wolny'], [:slow, 'Szybkie']], :name => :transfer, :active => :slow %>
