<h1>
  Kursy wymiany jednostek (walut)
  <%= help_tag('system_elements.exchanges.index') %>
</h1>

<div id="currencies-pairs-list" class="margin-left">
  Przejdź do kursów wymiany dla następujących jednostek:
  <ul>
    <% @pairs.each do |c1, c2| %>
      <li>
        <%= link_to h("#{c1.long_symbol} -> #{c2.long_symbol}"), exchanges_list_path(:left_currency => c1, :right_currency => c2) %>
      </li>
    <% end %>
  </ul>
</div>

<% options = ShadowHelper::ShadowOptions.new %>
<% options.top.middle.text = tab([[:new, 'Nowy']], :exchange) %>

<% light_shadow({:class => 'long'}, {}, options) do %>
  <% tab_container(:exchange) do %>
    <%= render :partial => 'edit' %>
  <% end %>
<% end %>
