log/*.log
tmp/**/*
nbproject
config/backgroundrb.yml
config/database.yml
config/deploy.rb
config/mongrel_cluster.yml
config/selenium.yml
config/site_keys.yml
config/sphinx.yml
config/*.sphinx.conf
db/sphinx/**/*.spa
db/sphinx/**/*.spd
db/sphinx/**/*.sph
db/sphinx/**/*.spi
db/sphinx/**/*.spm
db/sphinx/**/*.spp
db/sphinx/**/*.spl
