log/*.pid
log/*.log
tmp/**/*
nbproject
config/backgroundrb.yml
config/newrelic.yml
config/database.yml
config/deploy.rb
config/mongrel_cluster.yml
config/selenium.yml
config/site_keys.yml
config/sphinx.yml
config/*.sphinx.conf
config/backup_fu.yml
config/initializers/hoptoad.rb
db/sphinx/**/*.spa
db/sphinx/**/*.spd
db/sphinx/**/*.sph
db/sphinx/**/*.spi
db/sphinx/**/*.spm
db/sphinx/**/*.spp
db/sphinx/**/*.spl
vendor/plugins/validates_equality/test/debug.log
vendor/plugins/newrelic_rpm/
vendor/plugins/hoptoad_notifier/
vendor/plugins/backup_fu/
*~
