<div id="3p-member" class="3p-member">  <% # DO NOT REMOVE THIS LINE !%>
  <div>
    Other people related to this project.
  </div>
  <ul>
    <li> Katarzyna Moroz </li>
    <li> S³awa Komorowska </li>
  </ul>

  
  <div id="thanks" class="thanks">
    Thanks for all good advices and inspiration. We really apreciate it.
  </div>
</div>
