
<h1>Waluty</h1>

<table id="currencies-list" style="width: 100%">
  <tr style="width: 100%" >
  
    <th style="width:20%">
      Nazwa
    </th>
    
    <th style="width: 10%">
      Symbol
    </th>
    
    <th style="width: 40%">
      Długa nazwa
    </th>
    
    <th style="width: 15%;">
      Długi symbol
    </th>
    
    <th style="width: 15%;">
      Akcje
    </th>
  </tr>
  
  <%= render :partial => 'currency', :collection => @currencies %>

  <%= render :partial => 'new_currency' %>
</table>

<br />

<%= link_to 'New currency', :action => 'new' %>
