<div id="currencies-index">
  <h1>
    Jednostki (waluty)
    <%= help_tag('system_elements.currencies') %>
  </h1>

  <% light_shadow do %>
    <table id="currencies-list" class ="nice-table long">
      <tr style="width: 100%" >

        <th>
          Nazwa
        </th>

        <th>
          Symbol
        </th>

        <th>
          Długa nazwa
        </th>

        <th>
          Długi symbol
        </th>

        <th>
          Systemowa
        </th>

        <th>
          Akcje
        </th>
      </tr>

      <%= render :partial => 'currency', :collection => @currencies %>

    </table>
  <% end %>
  
  <span class="margin-left">
    <b>
      <%= link_to 'Dodaj nową walutę', new_currency_path, :id => 'add-cur' -%>
    </b>
  </span>
  
</div>
