td.tl-shadow {
    background-image: url('/images/bg/tl80.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}

td.tm-shadow {
    background-image: url('/images/bg/tm80.png');
    background-repeat: repeat-x;
    background-position: bottom;
}

td.tr-shadow {
    background-image: url('/images/bg/tr80.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}



td.ml-shadow {
    background-image: url('/images/bg/ml80.png');
    background-repeat: repeat-y;
    background-position: right;
}

td.mm-shadow {
}

td.mr-shadow {
    background-image: url('/images/bg/mr80.png');
    background-repeat: repeat-y;
    background-position: left;
}



td.bl-shadow {
    background-image: url('/images/bg/bl80.png');
    background-position: top right;
    background-repeat: no-repeat;
}

td.bm-shadow {
    background-image: url('/images/bg/bm80.png');
    background-repeat: repeat-x;
    background-position: top;
}

td.br-shadow {
    background-image: url('/images/bg/br80.png');
    background-position: top left;
    background-repeat: no-repeat;
}

.shadow-x {
    height: 20px;
}

.shadow-y {
    width: 20px;
}

table.shadow {
    border-spacing: 0;
    margin: 0;
    padding: 0;

    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}


td#shadow-left {
    width: 20px;
    
    background-repeat: repeat-y;
    background-position: right;
}

td#shadow-right {
    width: 20px;
    
    background-repeat: repeat-y;
    background-position: left;
}