<h2>Home page</h2>

<div>
<b>Manage My Money</b> was designed to allow you easly and fastly
notice the flow of your money. With our online application you can:
<ul>
<li>register transfers </li>
<li>creaty many categories and subcategories </li>
<!-- <li>use autocompletion to save your time </li> -->
<li>view well formatted graphs </li>
<li>view statistic from selcted range of time</li>
<!-- <li>export graphs and statistics to PDF file</li> -->
</ul>
</div>

<div>
All this functions are avalible via <b>user-friendly interface</b> and for <b>completely free</b>.
</div><br />

<div>
<!-- All information are send over <b>highly secure encycrypted connection</b> so do not worry about security and confidential data -->
</div>

<p> 3P GROUP - Enjoy our newest project </p>
