Dziękujemy Ci za rejestrację w serwisie "Co do grosza".
Twoja nazwa użytkownika to: <%= @current_user.name %>

Aby aktywować konto odwiedź stronę http://localhost:3000/user/activate?id=<%= @user.id -%>&activate_hash=<%= @activate_hash -%>"

Pozdrawia zespół serwisu.
