Thank you <%= @user.name %> for registering in ManageMyMoney.com :-)

click this link http://mad.no-ip.org:3000/user/activate?id=<%= @user.id -%>&activate_hash=<%= @activate_hash -%>" to activate your account


Best Regards,
3p group
