<div style="margin: 40px; font-size:150%">

  <h2>O nas<br /><br /></h2>

  <div>
    Ten projekt został przez nas zrealizowany w ramach przedmiotu <b>PRO520</b> prowadzonego
    na <b><a href="http://web.wmi.amu.edu.pl">Wydziale Matematyki i Informatyki
    Uniwersytetu im. Adama Mickiewicza w Poznaniu</a></b>.
  </div>

  <br />

  <div>
    <h2>Autorzy:</h2>
    <ul>
      <li>
        <div>
          <b>Robert Pankowecki</b>: <br />
          <a href="http://robert.pankowecki.pl">http://robert.pankowecki.pl</a><br />
          <a href="http://flaker.pl/rupert">http://flaker.pl/rupert</a><br />
          <br />
        </div>
      </li>

      <li>
        <div>
          <b>Jarosław Plebański</b>: <br />

        </div>
      </li>
    </ul>
  </div>

  <h2>O projekcie<br /><br /></h2>

  <div>
    Całość została wykonana z użyciem technologii
    <b><a href="http://rubyonrails.org/">Ruby on Rails</a></b>
    i jest z naszych skromnych, studenckich środków hostowana na platformie
    <b><a href="http://rootnode.net/">Rootnode</a></b>.
  </div>

  <br />

  <div>
    Kod projektu jest otwarty i dostępny w serwisie
    <b><a href="http://github.com/">github</a></b> pod nazwą
    <b><a href="http://github.com/paneq/manage-my-money/tree/master">Manage My Money</a></b>.
  </div><br/>

  <div>
    Licencja: <b><a href="http://en.wikipedia.org/wiki/BSD_license#Terms">BSD</a></b>
  </div><br/>

  <div>
    Jeśli znalazłeś(aś) jakiś błąd możesz nas o tym powiadomić: <b><a href="http://3m.lighthouseapp.com/projects/28121-manage-my-money">korzystając
    z serwisu LightHouse</a></b> lub wysyłając e-mail na adres: <b>admin@co-do-grosza.pl</b><br/>
  </div><br />

  <div>
    Jeśli masz na tyle doświadczenia oraz umiejętności i chcesz uruchomić swoją własną
    instancję tej aplikacji, nie zapomnij zapoznać się dokumentacją w katalogu projektu.
  </div><br />
  
</div>