<div style="margin: 40px; font-size:150%">

  <h2>Regulamin</h2>
  <p>
  Obecna wersja systemu to <b>Live Demo</b>, obowiązują w niej takie zasady:</p>
  <ul class="terms">
    <li>możesz dowolnie używać serwisu</li>
    <li>nie będziemy udawać, że nas obchodzi że Ci nie działa ;) (aczkolwiek błędy można
      zgłaszać na <a href="http://3m.lighthouseapp.com/projects/28121-manage-my-money">lighthouse</a>, poza tym zrobimy <b>co w naszej mocy</b> by aplikacja była jak
    najlepsza)</li>
    <li>nie bierzemy żadnej odpowiedzialności za działanie serwisu</li>
    <li>możemy wyłączyć serwis w każdej chwili, jeśli nam się znudzi
    hostowanie go (lub zabraknie nam funduszy)</li>
    <li>to jest tylko pokaz możliwości systemu <b>manage-my-money</b> którego źródła dostępne są na
    <a href="http://github.com/paneq/manage-my-money"><b>github</b></a></li>
    <li>działalność serwisu ma charakter <b>non-profit</b></li>
  </ul>

  <p>
  Są plany byśmy byli prawdziwym serwisem:</p>
  <ul class="terms">
    <li>będziesz mógł sobie klikać tam, gdzie Ci pozwolimy</li>
    <li>udamy, że nas obchodzi że Ci nie działa :)</li>
    <li>weźmiemy odpowiedzialność, za.... za to żeby serwis był raczej włączony</li>
    <li>nie wyłączymy tego gdy nam się znudzi. Gdyby tak się stało damy info
    dużo wcześniej i pozwolimy Ci zabrać swoje dane!</li>
    <li>będziemy działać totalnie for-profit</li>
  </ul>


</div>