<div style="margin: 40px; font-size:150%">

  <h2>Przewodnik krok po kroku</h2>
  <p>
    Są plany by tutaj w postaci filmów wytłumaczyć całą ideę zarządzania
    budżetem domowym- jakie są korzyści oraz co można dzięki temu osiągnąć.
    Byłoby też miło zaprezentować wszystkie funkcjonalności i opowiedzieć
    coś więcej o nich.
  </p>

</div>