<%= error_messages_for 'transfer' %>

<!--[form:transfer]-->
<p><label for="transfer_description">Description</label><br/>
<%= text_area 'transfer', 'description'  %></p>

<p><label for="transfer_day">Day</label><br/>
<%= date_select 'transfer', 'day'  %></p>
<!--[eoform:transfer]-->

