<% form_tag url_for(:action => :search, :controller => :categories, :id => category_id), {:method => :post} do %>
  Include subcategories &nbsp;&nbsp;<%= check_box_tag 'show_with_subcategories', true %> 

<%= date_period_fields("transfer_day", @start_day, @end_day) %>


<%= submit_tag '&nbsp;Show&nbsp;' %>

<% end %>