<tr id="transfer-item-<%=transfer_item_details.id-%>" class="<%= cycle('line-even-details', 'line-odd-details') %>" >
  <%= render :partial => 'transfers/transfer_item_details_body', :object => transfer_item_details %>
</tr>