<h1>
  Lista transferów
  <%= help_tag 'system_elements.transactions.index' -%>
</h1>

<div id="transfer-table-div">
  <%= render :partial => 'transfers/transfer_table' %>
</div>

<div id="bottom-menu">
  <%= render :partial => 'transfers/kind_of_transfer' %>
</div>