<tr class="<%= cycle('line-even', 'line-odd') %>">
  <td class="transfer-table-border">
    <%= stats_line[:name] %>
  </td>
  <td class="transfer-table-border">
    <%= stats_line[:value] %>
  </td>
</tr>