<div id="categories-index" class="width">
  <div class="width">
    <h1>
      Twoje kategorie
    </h1>
  </div>

  <div id="category-tree" class="width">
    <%=render :partial => 'category' , :collection => @current_user.categories %>
  </div>
</div>