<div id="categories-index" class="width">

  <div class="width">
    <h1>
      Twoje kategorie <%= link_to '[Dodaj]', new_category_path %>
    </h1>
  </div>

  <table id="category-tree" class="nice-table width">
    <tr>
      <th>Nazwa</th>
      <th>Saldo</th>
      <th>Saldo z podk.</th>
      <th>Akcje</th>
    </tr>
    <%=render :partial => 'category' , :collection => @categories %>
  </table>

</div>

<br />

