<div id="categories-index" class="width">

  <div class="width">
    <h1>
      Twoje kategorie <%= link_to '[Dodaj]', new_category_path %>
    </h1>
  </div>

  <table id="category-tree" class="nice-table width">
    <%=render :partial => 'category' , :collection => @current_user.categories.with_level %>
  </table>

</div>

<br />

