  <%#*<p id="transfers-day-start"><label for="transfer_day">Select start date</label>%>
  <%#= select_date @day, :prefix => 'period_start' %></p>
<%=  get_date_field_begin("transfer_day", @start_day)%>