<div id="flow_report_options" <%= 'style="display:none"' unless @report.flow_report? %>>
<%  form_for @flow_report || @report do |form|%>
<%= render :partial => 'common_fields', :locals => {:form => form,  :report_type => 'FlowReport'}  %>

many categories with options (tree)<br/>


<%= form.submit %>

<% end %>

</div>