<h1>Dodawanie nowego raportu</h1>

<%= error_messages_for :report %>

Wybierz typ raportu: <br/>

<%  [[@share_report, 'Raport udzialu podkategorii w kategorii (wykres)'],
     [@value_report, 'Raport pokazujacy wartosc kategorii w czasie (wykres)'],
     [@flow_report, 'Raport przeplywu srodkow (tekst)']].each do |report, desc| %>
  <%= radio_button_tag :report_type, report.type_str, @report.type_str == report.type_str, {:onclick => control_visibility_of_report_forms(report) } -%> <%= desc -%> <br/>
<%  end %>

<br/>

<div id="new-report-form">
<%  [@share_report, @value_report, @flow_report].each do |report| %>
  <%= render :partial => get_report_partial_name(report), :locals => {:report => report} %>
<%  end %>
</div>