<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= @graph %>

<br/>
<%= switch("graph_table","Pokaż/ukryj tabelkę danych") %> <br/>

<br/><div id="graph_table">[jakas smieszna tabelka tu] </div><br/><br/>

<%= render :partial => 'report_links' %>

