<script type="text/javascript" src="/javascripts/swfobject.js"></script>

<div align="center">
<%  @graphs.each do |graph| %>
<%= graph %><br/><br/>
<%end%>
</div>

<% if @graphs.size == 0 %>

<h1>Dla podanych parametrów nie znaleziono transferów z których można by obliczyć raport</h1>

<% end %>



<br/>
<%= switch("graph_table","Pokaż/ukryj tabelkę danych") %> <br/>

<br/><div id="graph_table">


<table class="flow-table">
<tr class="flow-table-header"><th >Kategoria</th><th>Saldo</th><th>%</th></tr>

<%=render :partial => "show_share_category"%>

  <tr><td><b>W sumie: </b></td><td class="right"></td><td class="right"></td></tr>

</table>

   </div><br/><br/>

<%= render :partial => 'report_links' %>

