<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>


    <title>Manage My Money</title>

    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="3p group" />
    <meta name="description" content="Manage My Money was designed to allow you easly and fastly notice the flow of your money" />
    <meta name="keywords" content="money, money managment, transfers" />
    <meta name="robots" content="index, follow, noarchive" />
    <meta name="googlebot" content="noarchive" />

    <%= stylesheet_link_tag 'scaffold_new', 'html', 'layout' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_tag "
    var uid = (
    function(){
    var id=0;
    return function(){
    return id++ ;
    };
    }
    )();
    "


  %>


  </head>

  <body>

    <!-- #content: holds all except site footer - causes footer to stick to bottom -->
    <div id="content">

      <!-- #header: holds the logo and top links -->
      <div id="header" class="width">

        <% link_to("/", :id=>'main-page-link') do -%>
          <img style="margin: 0px; padding: 0px; width: 100%, height: 100%;" src="/images/bg/header_3m.jpg" alt="Manage My Money Logo"/>
        <% end %>
        <!--
        <ul>
          <li><%= link_to "Main Page", :controller => :user , :action => :index -%></li>
          <li><%= link_to "About us", :controller => :user , :action => :about -%></li>
        </ul>
        -->
      </div>
      <!-- #header end -->


  <!-- #headerImg: holds the main header image or flash -->
  <!--<div id="headerImg" class="width">Manage My Money</div>-->


  <!-- #menu: the main large box site menu -->
  <!--
  <div id="menu" class="width">

    <ul>
      <li>
        <a href="" onfocus="blur()">
          <span class="title ">Category A</span>
          <span class="desc">not implemented</span>        </a>      </li>
      <li>
        <a href="" class="forum" onfocus="blur()">
          <span class="title ">Category B</span>
          <span class="desc style3">not implemented</span>        </a>      </li>
      <li>
        <a href="" onfocus="blur()">
          <span class="title ">Category C</span>
          <span class="desc">not implemented</span>
        </a>
      </li>
      <li>
        <a href="" onfocus="blur()">
          <span class="title ">Category D</span>
          <span class="desc">not implemented</span>
        </a>
      </li>
    </ul>

  </div>
  -->
  <!-- #menu end -->


  <!--<div class="logo-content-spacer width"></div>-->


  <!-- #page: holds the page content -->
      <div id="page">


        <table cellspacing="0" cellpadding="0" style="width: 100%; border-spacing: 0px; border: 0px; border-collapse: collapse; padding: 0px; margin: 0px;">
          <tr style="width: 100%; padding: 0px; margin: 0px;">
            <td class="alignTop" style="width: 100%; padding-right: 30px; padding-left:10px; padding-top: 10px; padding-bottom: 20px;">


              <blockquote id="flash_notice">
                <% if flash[:notice] %>
                  <%= flash[:notice] %>
                <% end %>
              </blockquote>

              <blockquote id="flash_error">
                <% if flash[:error] %>
                  <%= flash[:error] %>
                <% end %>
              </blockquote>

              <br />


              <%= yield  %>



            </td>



            <td id="right_menu" class="lightBlueBg horzPad floatRight" style="width: 250px; padding: 0; margin: 0; padding-top: 20px;">
              <h2>My Money <span class="dark">Menu</span></h2>
              <p><b>
                  <% unless logged_in? -%>
                    Zaloguj się!
                  <% else -%>
                    Zalogowany: <%= self.current_user.login -%>
                  <% end -%>
              </b></p>
              <ul class="submenu1">



                <% unless logged_in? %>
                  <li id="login"><%= link_to 'Logowanie', login_url, :id => 'logowanie-menu-link' %> </li>
                  <li id="register"><%= link_to 'Rejestracja', :action => :new, :controller => :users, :id => 'rejestracja-menu-link' %></li>
                <% else %>

                  <li><%= link_to 'Kategorie', categories_path, :id => 'kategorie-menu-link' %></li>
                  <li><%= link_to 'Transfery', transfers_path, :id => 'transfery-menu-link'  %></li>
                  <li><%= link_to 'Waluty', currencies_path, :id => 'waluty-menu-link'  %></li>
                  <li><a href="">Kursy</a><%= link_to 'Kursy', exchanges_path, :id => 'kursy-menu-link'  %></li>
                  <li><%= link_to 'Raporty', reports_path, :id => 'raporty-menu-link'  %></li>
                  <li><%= link_to 'Planowanie', goals_path, :id => 'planowanie-menu-link'  %></li>
                  <li><%= link_to 'Dłużnicy', debtors_path, :id => 'debtors-menu-link'  %></li>
                  <li><%= link_to 'Wierzyciele', creditors_path, :id => 'creditors-menu-link'  %></li>


                  <br />
                  <li id="logout"><%= link_to 'Wyloguj', logout_url, :id => 'wyloguj-menu-link'  %></li>
                  <li><%= link_to 'Edycja ustawień', edit_user_url(self.current_user), :id => 'edycja-ustawien-menu-link'  %></li>
                  <li><%= link_to 'Usuń konto', user_path(@current_user), :method => :delete, :confirm => "Jesteś pewien?", :id => 'usun-konto-menu-link'  %></li>
                <% end %>

              </ul>

              <% if logged_in? %>
                <% cache("#{@current_user.id}-quick-categories") do %>

                  <p><b>Szybki dostęp:</b></p>
                  <ul class="submenu3">
                    <%= render :partial => "/categories/category_in_layout" , :collection => @current_user.categories %>
                  </ul>
                  <br />

                <% end %>
              <% end %>


            </td>
          </tr>
        </table>
      </div> <!-- end of page -->
    </div> <!-- end of content -->
    <!-- #footer: holds the site footer (logo and links) -->
    <div id="footer" style="margin-top:20px;">

      <!-- #bg: applies the site width and footer background -->
      <div id="bg" class="width">


        <ul>
          <li><a href="http://www.opensourcetemplates.org">opensourcetemplates.org</a></li>
          <li><a href="http://www.studio7designs.com" class="last">studio7designs.com</a></li>
        </ul>

      </div>
      <!-- #bg end -->

    </div>
    <!-- #footer end -->


  </body>

</html>
