<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>


    <title>Manage My Money</title>

    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="3p group" />
    <meta name="description" content="Manage My Money was designed to allow you easly and fastly notice the flow of your money" />
    <meta name="keywords" content="money, money managment, transfers" />
    <meta name="robots" content="index, follow, noarchive" />
    <meta name="googlebot" content="noarchive" />

    <%= stylesheet_link_tag 'scaffold_new', 'html', 'layout', 'table', 'shadow' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_tag "
    var uid = (
    function(){
    var id=0;
    return function(){
    return id++ ;
    };
    }
    )();
    "


  %>


  </head>

  <body style="background-image: url('/images/bg/bg2.png');">

    <div style="width: 1000px; margin-left: auto; margin-right: auto;">

      <div id="page" style="width: 750px; float:left;">

        <% strong_shadow(:top, {:style => 'width: 750px;'}, :style => 'background-color: white;') do %>

          <div id="header" class="width">
            <% link_to("/", :id=>'main-page-link') do -%>
              <img style="margin: 0px; padding: 0px; width: 100%, height: 100%;" src="/images/bg/header_3m.jpg" alt="Manage My Money Logo"/>
            <% end %>
          </div>

          <% [:notice, :error].each do |fla| %>
            <%= content_tag :blockquote, flash[fla], :id => "flash_#{fla}" %>
          <% end %>

          <br />

          <%= yield  %>

        <% end %>

      </div>


      <div style="width:200px; float: left; margin-left: 50px;">
        <div id="top-sidebar" style="background-image: url('/images/bg/bgsidebar.jpg');">
          <p><b>
              <% unless logged_in? -%>
                Zaloguj się!
              <% else -%>
                Zalogowany: <%= self.current_user.login -%>
              <% end -%>
          </b></p>
          <ul id="main-sidebar" style="padding-left: 0px; width: auto;">
            <% unless logged_in? %>
              <li id="login"><%= link_to 'Logowanie', login_url, :id => 'logowanie-menu-link' %> </li>
              <li id="register"><%= link_to 'Rejestracja', :action => :new, :controller => :users, :id => 'rejestracja-menu-link' %></li>
            <% else %>

              <li><%= link_to 'Kategorie', categories_path, :id => 'kategorie-menu-link' %></li>
              <li><%= link_to 'Transfery', transfers_path, :id => 'transfery-menu-link'  %></li>
              <li><%= link_to 'Waluty', currencies_path, :id => 'waluty-menu-link'  %></li>
              <li><%= link_to 'Kursy', exchanges_path, :id => 'kursy-menu-link'  %></li>
              <li><%= link_to 'Raporty', reports_path, :id => 'raporty-menu-link'  %></li>
              <li><%= link_to 'Planowanie', goals_path, :id => 'planowanie-menu-link'  %></li>
              <li><%= link_to 'Dłużnicy', debtors_path, :id => 'debtors-menu-link'  %></li>
              <li><%= link_to 'Wierzyciele', creditors_path, :id => 'creditors-menu-link'  %></li>
              <li><%= link_to 'Import', import_path, :id => 'creditors-menu-link'  %></li>


              <br />
              <li id="logout"><%= link_to 'Wyloguj', logout_url, :id => 'wyloguj-menu-link'  %></li>
              <li><%= link_to 'Edycja ustawień', edit_user_url(self.current_user), :id => 'edycja-ustawien-menu-link'  %></li>
              <li><%= link_to 'Usuń konto', user_path(@current_user), :method => :delete, :confirm => "Jesteś pewien?", :id => 'usun-konto-menu-link'  %></li>
            <% end %>
          </ul>
          <div style="width: 200px; height: 20px; background-image: url('/images/bg/bgsidebar-bottom.jpg');">
          </div>
        </div>

        <% if logged_in? %>
          <%= render :partial => 'shared/bottom_sidebar' %>
        <% end %>

      </div>

    </div>
  </body>
</html>
